<div class="games-wrapper">
  <div class="sse-banner">
    <img src="assets\images\SSELogo.png" />
  </div>
  <div class="content-wrapper">
    <div class="steam-link">
      <h2>
        Available Now on
        <a
          href="https://store.steampowered.com/app/2124300/Shopping_Spree_Extreme/"
          >Steam!</a
        >
      </h2>
    </div>
    <div class="trailer">
      <app-youtube-player></app-youtube-player>
    </div>
    <div class="sse-content" style="margin-left: 11%">
      <app-content-card
        [cardTitle]="'Cart Chaos!'"
        [cardSubtitle]="''"
        [cardContent]="aboutSSE"
        [image]="'assets/gifs/PutInCart.gif'"
      ></app-content-card>
    </div>
  </div>
  <div class="sse-content" style="margin-left: 30%">
    <app-content-card
      [cardTitle]="'Shove to Win!'"
      [cardSubtitle]="''"
      [cardContent]="goalSSE"
      [image]="'assets/gifs/RKO.gif'"
    ></app-content-card>
  </div>
  <div class="sse-content" style="margin-left: 11%">
    <app-content-card
      [cardTitle]="'Can I Shop There?'"
      [cardSubtitle]="''"
      [cardContent]="levelsSSE"
      [image]="'assets/gifs/Coop_Weeee.gif'"
    ></app-content-card>
  </div>
  <div class="sse-content" style="margin-left: 30%">
    <app-content-card
      [cardTitle]="'Bring Some friends!'"
      [cardSubtitle]="''"
      [cardContent]="multiSSE"
      [image]="'assets/gifs/PvPFriends.gif'"
    ></app-content-card>
  </div>
  <app-image-grid></app-image-grid>
</div>
