@font-face {
    font-family: QuikHand;
    src: url(font/Quikhand.ttf);
}

body{
    background-image: url('img/HighresScreenshot00003.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#title{
    margin: 20px auto;
    padding: 0;
    width: 30%;
    display: block;
}

#social{
    display:inline-block;
    position: fixed;
    margin-left: 95%;
}

.icon{
    width: 40px;
    height: 40px;
    padding: 20px;
}

.gifrow{
    display:flex;
    width: 100%;
    margin:auto;
    justify-content: center;
}

#gifs{
    width: 100%;
    margin: auto;
    display: inline-block
}

.gifrow > img{
    width: 480px;
    height: 270px;
}

#Steam{
    background-color: rgb(93, 150, 255);
    justify-content: center;
    display:flex;
    width: 12%;
    margin: 20px auto
}

#trailer{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#about{
    display: flex;
    justify-content: center;
    margin: auto;
}

.desc{
    color: white;
    display: block;
    font-family: QuikHand;
}

#discord{
    display: flex;
    justify-content: center;
    font-family: QuikHand;
    background-color: rgb(93, 150, 255);
    color: white;
    margin: 50px auto;
    width: 50%;
}

footer{
    background-color: rgb(93, 150, 255);
    padding: 20px 0;
}

.copyright{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
}

.footerIcon{
    width: 24px;
    height: 24px;
}

.link{
    text-decoration: none;
    color:black;
    padding: 25px;
}