body{
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title{
    margin: 0 auto;
    padding: 0;
    width: 30%;
    display: block;
}