<div class="nav-bar-wrapper">
  <mat-toolbar style="padding-left: 0% !important" class="nav-bar">
    <a class="logo-container" routerLink="/">
      <img src="assets/images/FSGLogoCircle.png" alt="logo" class="logo" />
    </a>
    <div class="button-container">
      <a
        mat-button
        routerLink="/"
        class="button"
        style="color: white; font-size: x-large; border-radius: 0"
        >Home</a
      >
    </div>
    <div class="button-container" [matMenuTriggerFor]="gamesMenu">
      <button
        mat-button
        (click)="rotateDropdownIcon()"
        style="
          color: white;
          font-size: x-large;
          border-radius: 0;
          margin-right: 50px;
          margin-left: 50px;
        "
      >
        Games
      </button>
      <mat-menu
        #gamesMenu="matMenu"
        (closed)="resetDropdownIcon()"
        class="custom-menu"
      >
        <button mat-menu-item [routerLink]="'/games'" class="custom-menu-item">
          Shopping Spree: Extreme!!!
        </button>
        <!-- Add more game links as needed -->
      </mat-menu>
    </div>
    <!--<div class="button-container">
      <a
        mat-button
        routerLink="/resources"
        class="button"
        style="color: white; font-size: x-large; border-radius: 0"
        >Resources</a
      >
    </div>-->
    <div class="button-container">
      <a
        mat-button
        routerLink="/news"
        class="button"
        style="color: white; font-size: x-large; border-radius: 0"
        >News</a
      >
    </div>
    <div class="social-wrapper">
      <div class="social-container">
        <a href="https://discord.com/invite/FUDcKR7TdH">
          <img
            src="assets/images/discord-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.youtube.com/channel/UCzXKYNsgsglackVnEPsPUCw">
          <img
            src="assets/images/youtube-app-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://twitter.com/SSE_Game">
          <img
            src="assets/images/X_logo_2023_(white).png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.instagram.com/friedsquidgamesllc/">
          <img
            src="assets/images/instagram-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.tiktok.com/@sse_game">
          <img src="assets/images/tiktok-512.png" alt="logo" class="logo" />
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>
