<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand"  href="#" routerLink="/">
    <img src="assets/images/FSGLogoCircle.png" alt="logo" class="FSGlogo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="navBar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="'/'" class="nav-link text-white"  href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="gamesDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu" aria-labelledby="gamesDropdownMenuLink">
          <a class="dropdown-item" href="#" [routerLink]="'/games/shopping-spree-extreme'">Shopping Spree: Extreme!!!</a>
           <!-- Add more game links as needed -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="resourcesDropdownMenuLink" role="button" data-toggle="dropdown">Resources</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="newTab('https://forms.gle/L49KQtGrfXCFdW5W7')">Feedback Form</a>
          <a class="dropdown-item" href="#" (click)="newTab('https://forms.gle/eHMpAD7gRR3A3zbe9')">Bug Report</a>
           <!-- Add more resource links as needed -->
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/news" class="nav-link text-white">News</a>
      </li>
    </ul>

    <div class="social-wrapper">
      <div class="social-container">
        <a href="https://discord.com/invite/FUDcKR7TdH">
          <img
            src="assets/images/discord-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.youtube.com/@friedsquidgames">
          <img
            src="assets/images/youtube-app-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://twitter.com/SSE_Game">
          <img
            src="assets/images/X_logo_2023_(white).png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.instagram.com/friedsquidgamesllc/">
          <img
            src="assets/images/instagram-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.tiktok.com/@friedsquidgames">
          <img src="assets/images/tiktok-512.png" alt="logo" class="logo" />
        </a>
      </div>
    </div>
  </div>
</nav>
