<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/" (click)="isNavBarCollapsed=true">
    <img src="assets/images/FSGLogoCircle.png" alt="logo" class="FSGlogo" />
  </a>
  <button class="navbar-toggler" (click)="isNavBarCollapsed = !isNavBarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavBarCollapsed" class="collapse navbar-collapse"  id="navBar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
      <li class="nav-item">
        <a [routerLink]="'/'" (click)="isNavBarCollapsed=true" class="nav-link text-navbar"  href="#">Home</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle text-navbar" id="gamesDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Games</a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="gamesDropdownMenuLink">
          <a class="dropdown-item" ngbDropdownItem (click)="isNavBarCollapsed=true" [routerLink]="'/games/shopping-spree-extreme'">Shopping Spree: Extreme!!!</a>
           <!-- Add more game links as needed -->
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle text-navbar" id="resourcesDropdownMenuLink" role="button" data-toggle="dropdown" ngbDropdownToggle>Resources</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" ngbDropdownItem (click)="newTab('https://forms.gle/L49KQtGrfXCFdW5W7');isNavBarCollapsed=true">Feedback Form</a>
          <a class="dropdown-item" ngbDropdownItem (click)="newTab('https://forms.gle/eHMpAD7gRR3A3zbe9');isNavBarCollapsed=true">Bug Report</a>
           <!-- Add more resource links as needed -->
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/news" (click)="isNavBarCollapsed=true" class="nav-link text-navbar">News</a>
      </li>
    </ul>

    <ul class="social-wrapper mx-auto">
      <li class="nav-item social-container">
        <a href="https://discord.com/invite/FUDcKR7TdH" class="logo-container">
          <img
            src="assets/images/discord-white-icon.png"
            alt="logo"
            class="logo nav-link"
          />
        </a>
      </li>
      <li class="nav-item social-container">
        <a href="https://www.youtube.com/@friedsquidgames" class="logo-container">
          <img
            src="assets/images/youtube-app-white-icon.png"
            alt="logo"
            class="logo nav-link"
          />
        </a>
      </li>
      <li class="nav-item social-container">
        <a href="https://twitter.com/SSE_Game" class="logo-container">
          <img
            src="assets/images/X_logo_2023_(white).png"
            alt="logo"
            class="logo nav-link"
          />
        </a>
      </li>
      <li class="nav-item social-container">
        <a href="https://www.instagram.com/friedsquidgamesllc/" class="logo-container">
          <img
            src="assets/images/instagram-white-icon.png"
            alt="logo"
            class="logo nav-link"
          />
        </a>
      </li>
      <li class="nav-item social-container">
        <a href="https://www.tiktok.com/@friedsquidgames" class="logo-container">
          <img src="assets/images/tiktok-512.png" alt="logo" class="logo nav-link" />
        </a>
      </li>
    </ul>
  </div>
</nav>
