@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-bar {
  height: 100px; /* Set a fixed height for the navbar */
  background-color: black;
  display: flex;
  align-items: center; /* Vertically center items within the navbar */
  overflow: hidden; /* Hide any content that exceeds the navbar height */
}

.logo-container {
  margin-right: 20px; /* Adjust margin for better spacing */
  width: 150px;
}

.logo {
  max-width: 100%; /* Ensure the logo stays within its container */
  height: auto;
}
.FSGlogo {
  max-width: 150px;
}

.button-container {
  display: flex;
  //margin-left: auto; /* Push the buttons to the right */
}

a.button,
button {
  height: 100%;
  padding: 0 20px; /* Add padding for better button spacing */
  display: flex;
  align-items: center; /* Vertically center text within buttons */
  color: white;
  text-decoration: none; /* Remove underline for anchor elements */
  border: none;
  background-color: transparent;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: #fcb045;
  }

  &:not(:first-child) {
    margin-left: 20px; /* Adjust margin between buttons */
  }
}

.social-wrapper {
  margin-left: auto; /* Push the social icons to the right */
}

.social-container {
  display: inline-block;
  width: 25px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

::ng-deep .mat-mdc-menu-panel.custom-menu {
  background-color: #333333;
  color: white;
  border-radius: 0;
}

::ng-deep .mat-mdc-menu-item.custom-menu-item {
  color: white !important;
}

::ng-deep .mat-mdc-menu-item.custom-menu-item:hover {
  color: #fcb045 !important;
}

.text-white{
  color: white;
}
