/* home.component.scss */

.home-wrapper {
  display: grid;
  grid-template-rows: auto 1fr; /* Header takes auto height, content takes remaining space */
  min-height: 100vh; /* Full viewport height */
  overflow: hidden;
  width: 100%; /* Ensure the wrapper spans the entire width */
  z-index: 2;
}

header {
  display: inline-block;
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: white;
  width: 100%; /* Make the header span the entire width */
}
