.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.content-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards to the start (left side) */
}

.content-card {
  width: 100%; /* Each card takes the full width */
  box-sizing: border-box;
}
