<footer class="footer">
  <div class="container">
    <span class="text">
      All content is copyright of Fried Squid Games LLC - © 2024 Fried Squid
      Games LLC. All rights reserved.</span
    >
    <address>
      Fried Squid Games LLC 6521 Steubenville Pike #1007 Pittsburgh, PA 15205
      USA
    </address>
    <div class="social-wrapper">
      <div class="social-container">
        <a href="https://discord.com/invite/FUDcKR7TdH">
          <img
            src="assets/images/discord-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.youtube.com/@friedsquidgames">
          <img
            src="assets/images/youtube-app-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://twitter.com/SSE_Game">
          <img
            src="assets/images/X_logo_2023_(white).png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.instagram.com/friedsquidgamesllc/">
          <img
            src="assets/images/instagram-white-icon.png"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <div class="social-container">
        <a href="https://www.tiktok.com/@friedsquidgames">
          <img src="assets/images/tiktok-512.png" alt="logo" class="logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
