.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Ensure the footer sticks to the bottom */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

.content {
  flex: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  width: 150%;
  height: auto;
}
.logo-container {
  max-width: 100px;
  margin-right: 100px;
  justify-content: right;
}
a.button:hover {
  transform: scale(1.1);
  justify-content: center;
  color: #fcb045 !important;
}
.button-container a {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}
.social-wrapper {
  margin-top: 1%;
  .social-container {
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease;
    justify-content: center;
    display: inline-block;
    width: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .social-container:hover {
    transform: scale(1.1);
  }
}
